.wordpress-importer h6 {
  padding-bottom: 10px;
}
.wordpress-importer h6:after {
  content: "";
  display: block;
  border-bottom: 2px solid #ccc;
  width: 100px;
  margin-top: 10px;
}
.wordpress-importer .widget {
  box-shadow: 0 7px 14px 0 rgba(65, 69, 88, 0.1), 0 3px 6px 0 rgba(0, 0, 0, 0.07);
}
.wordpress-importer .widget .widget-body {
  max-height: 500px;
  overflow-y: auto;
}